@using Microsoft.AspNetCore.Identity
@using JewelryShop.Models
@inject SignInManager<ApplicationUser> SignInManager
@model IEnumerable<JewelryShop.Models.JewelryItem>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
 
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/mobile.css" />
@* <link href="~/css/Home.css" rel="stylesheet" /> *@

@*<p>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        }
        <a asp-action="Index" asp-route-sortOrder="@ViewData["HerbiSort"]">@Html.DisplayNameFor(model => model.Diet.ToString())</a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CarniSort"]">@Html.DisplayNameFor(model => model.Diet.ToString())</a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CarniSort"]">@Html.DisplayNameFor(model => model.Diet.ToString())</a>

    </p>*@
<div class="text-center">
    <h1>All Products</h1>
    <div class="container">
        @using (Html.BeginForm())
        {
            <p>
                Find by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
        <div class="table">
            @* <div class="table-head">
                <div class="table-row">
                    <div>
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Diet)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.PackLimits)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Image)
                    </div>
                </div>
            </div> *@
            @* <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Diet)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PackLimits)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead> *@
            @* <tbody> *@
            <div class="table-body">
                @foreach (var item in Model)
                {
                    <div class="table-row">
                        <div class="table-data">
                            <span>Name:</span> @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="table-data">
                            <span>In Stock :</span> @Html.DisplayFor(modelItem => item.InStock)
                        </div>
                        <div class="table-data">
                            <img  src="@item.Picture1" alt="Alternate Text" />
                        </div>
                        <div class="table-data">

                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </div>
                    </div>
                    @* <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackLimits)
                        </td>
                        <td>
                            <img class="imgdino"src="@item.Image" alt="Alternate Text" />
                        </td>
                        <td>

                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Details</a>

                        </td>
                        <td>
                        </td>
                    </tr> *@
                }
            </div>
        </div>
    </div>
  </div>
